<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>SQL Stories</title>

    <link rel='icon' type='image/png' href='/static/favicon.png'> <!-- Add a favicon.png to static later -->

    <!-- Svelte CSS Bundle Will Go Here (Path like /static/build/bundle.css) -->
    <!-- <link rel='stylesheet' href='/static/build/bundle.css'> -->

    <!-- Svelte JS Bundle Will Go Here (Path like /static/build/bundle.js) -->
    <!-- <script defer src='/static/build/bundle.js'></script> -->

</head>
<body>
    <!-- Svelte app will mount itself into the body -->
    <!-- You could also add a <div id="app"></div> here and target that in Svelte -->
</body>
</html>